// Paleta
$primary-color: #0078d7;
$dark-color: #111;
$light-color: #f4f4f9;
$text-color: #333;

// Tipografía
$font-main: 'Arial', sans-serif;
$font-titles: 'Lostar', cursive;

// Espaciado
$padding: 20px;
